{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block main %}
    <main>
        <div id="panier" class="row d-flex justify-content-between align-items-center">
            <div id="shoppingCart" class="container">
                <hr>
                <h1>Panier</h1>
                <hr>

                <div class="panier">

                    <h2><span class='nb'>0</span> produit(s)</h2>


                    <div class="contenu-panier">
                        {% if items | length > 0 %}
                            <table class="table text-center">
                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.watch.name }}</td>
                                    <td>{{ item.watch.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.watch.price * item.quantity }}</td>
                                    <td>
                                        <a href="{{path('remove_cart', {'id' : item.watch.id})}}" class="btn btn-danger
                                        btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                                <tfoot>
                                <td colspan="3" class="text-right">Total : </td>
                                <td>{{ total }}</td>
                                <td></td>
                                </tfoot>
                            </table>
                        {% else %}
                            <p>Panier vide</p>
                        {% endif %}

                    </div>

                    <hr>
                    <div class="totalPrice d-flex justify-content-end">
                        <!-- AFFICHER LE PRIX TOTA -->

                    </div>


                    <button class="button clear">Vider le Panier</button>

                </div> <!-- fin panier -->

            </div>
        </div>

    </main>

{% endblock %}
