{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block main %}
        <div class="container boutiqueCard">
            <div class="row center productsList">
        {% for watch in watchesList %}
                <div class="product col-md-6 col-lg-4">
                        <a class="watch" href="#">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ asset (watch.image) }}" class="card-img-top" alt="{{ watch.name }}">
                                <div class="card-body">
                                    <p class="card-text text-center">{{ watch.name }}</p>
                                    <p class="text-center">{{watch.price}}€</p>
                                    <div class="text-center">
                                        <button class=" btn btn-light buy " data-name="{{ watch.id }}">acheter</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
        {% endfor %}
            </div>
        </div>
{% endblock %}
