{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}
{% block stripe %} <script src="https://js.stripe.com/v3/"></script>{% endblock %}

{% block main %}
    <main>
        <div class="container">


            {{ form_start(paymentForm, {'method': 'POST', 'action': path('payment'),'attr': {'id': 'payment-form'}}) }}
                <div class="row">
                    <div class="col-7">
                        <h3>Coordonnées</h3>
                        {{ form_row(paymentForm.firstname) }}
                        {{ form_row(paymentForm.lastname) }}
                        {{ form_row(paymentForm.email) }}

                        <h3> Adresse de Livraison </h3>
                        {{ form_row(paymentForm.shippingAdresse) }}
                        {{ form_row(paymentForm.shippingCity) }}
                        {{ form_row(paymentForm.shippingZip) }}

                        <h3> Adresse de Facturation </h3>
                        {{ form_row(paymentForm.billingAdresse) }}
                        {{ form_row(paymentForm.billingCity) }}
                        {{ form_row(paymentForm.billingZip) }}
                    </div>

                    <div class="col-5">
                        <label for="card-element">
                            Credit or debit card
                        </label>

                        <!-- placeholder for Elements -->
                        <div id="card-element"></div>

                        <button class="mt-5" id="card-button" data-secret="{{intent.client_secret}}">
                            Payer
                        </button>

                        <!-- Used to display Element errors. -->
                        <div id="card-errors" role="alert"></div>

                    </div>
                </div>
            {{ form_end(paymentForm) }}

        </div>
    </main>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/sripe.js') }}"></script>
{% endblock %}